<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1654870891608208</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.164153895844-ic5surrkbsq8l4mmsam759qd15qqgr2d</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1654870891608208</string>
	<key>FacebookClientToken</key>
	<string>007ddbf51bb65a92b681d18196092c70</string>
	<key>FacebookDisplayName</key>
	<string>E-Commerce</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
</dict>
</plist>
